/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

@keyframes valup {
  from {background-color:transparent;}
  to {background-color:green;}  
}

@keyframes valdown {
  from {background-color:transparent;}
  to {background-color:red;}  
}

.valueup {
  animation-name: valup;
  animation-timing-function:step-start;
  animation-duration: 1s;
  /* background-color: green; */
}

.valuedown {
  animation-name: valdown;
  animation-timing-function:step-start;
  animation-duration: 1s;
  /* background-color: red; */
}